<HTML>
<HEAD>
<TITLE>doba homepage :: Notes :: Phone calls via Internet</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/notes_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>Phone calls via Internet</H5>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
            <TD WIDTH="20%"><STRONG>Site</STRONG></TD>
            <TD WIDTH="80%"><STRONG>Description</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="http://www.hottelephone.com/" TARGET="_blank">HotTelephone.com</A></TD>
            <TD>Wow! Now it's possible to call Europe and even Russia (Moscow) for free!</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD><A HREF="http://www.dialpad.com/" TARGET="_blank">DialPad.com</A></TD>
            <TD>Free phone calls to USA. Java applet</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="http://www.net2phone.com/" TARGET="_blank">Net2Phone</A></TD>
            <TD>Internet phone calls. Application installation required</TD>
  </TR>

  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD><A HREF="http://www.phonefree.com/" TARGET="_blank">PhoneFree.com</A></TD>
            <TD>Free phone calls to USA. Plug-in installation required</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="http://www.webphone.com/" TARGET="_blank">WebPhone</A></TD>
            <TD>Internet phone calls. Application installation required</TD>
  </TR>
</TABLE>

{% include ../inc/incz.html %}
</BODY>
</HTML>
