<HTML>
<HEAD>
<TITLE>doba homepage :: Notes :: PHP in daily practice</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/notes_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>PHP in daily practice</H5>
This article will describe my experience with PHP.
{% include ../inc/incz.html %}
</BODY>
</HTML>
