<HTML>
<HEAD>
<TITLE>doba homepage :: Notes :: Solaris X86</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/notes_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>Solaris X86</H5>

<H6>Tips</H6>

<ul>

<li>You can find a copy of 
RU.SOLARIS Fido echo conference FAQ (Russian) 
<A HREF="solfaq.html">right here</A>.</li>

<li>If you are running Solaris X86 7.0, you might want to download and install
maintenance update 4 from 
<A HREF="ftp://ftp.simtel.ru/pub/Solaris/7_Maintenance_update_4/" TARGET="_blank">
ftp.simtel.ru</A>. It was here at the moment of writing (June 13, 2000).</li>

<li><A HREF="http://www.moldtelecom.md/" TARGET="_blank">Moldtelecom Moldova</A>
provides iso images of Solaris X86 8 at
<A HREF="ftp://ftp.moldtelecom.md/pub/unix/solaris/Solaris8_x86/" TARGET="_blank">
ftp.moldtelecom.md</A>. I do not know the legal status of such way of 
distribution, but if you are a legal owner, and your media is broken, then it's
probably pretty legal to download those files.</li>

</ul>

<H6>Solaris X86 links</H6>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
    <TD WIDTH="50%"><STRONG>Site</STRONG></TD>
    <TD WIDTH="50%"><STRONG>Site</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A HREF="http://docs.sun.com/" TARGET="_blank">Documentation for SUN products</A></TD>
    <TD><A HREF="http://www.sunfreeware.com/" TARGET="_blank">SUN Freeware</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A HREF="http://mx.nsu.ru/FAQ/F-solaris2/index.shtml" TARGET="_blank">Solaris 2 FAQ v1.63</A></TD>
    <TD><A HREF="http://www.kempston.net/solaris/" TARGET="_blank">Solaris Resources at Kempston</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A HREF="http://www.fwi.uva.nl/pub/solaris/solaris2.shtml" TARGET="_blank">Solaris 2 FAQ at www.fwi.uva.nl</A></TD>
    <TD><A HREF="http://solaris.opennet.ru/" TARGET="_blank">solaris.opennet.ru (russian)</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A HREF="http://www.stokely.com/" TARGET="_blank">Stockely Consulting</A></TD>
    <TD><A HREF="http://fishbutt.fiver.net/" TARGET="_blank">Solaris X86 Corner</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A HREF="http://www.chat.ru/~gene/" TARGET="_blank">Gene Solaris 2.5 tips (russian)</A></TD>
    <TD><A HREF="http://solaris.opennet.ru/" TARGET="_blank">solaris.opennet.ru (russian)</A></TD>
  </TR>
</TABLE>

{% include ../inc/incz.html %}
</BODY>
</HTML>
