<HTML>
<HEAD>
<TITLE>doba homepage :: Notes :: Starcraft cheats</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/notes_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>Starcraft cheats</H5>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
    <TD WIDTH="25%"><STRONG>Cheat</STRONG></TD>
    <TD WIDTH="75%"><STRONG>Description of Result</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>power overwhelming</TD>
    <TD>God mode</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>operation cwal</TD>
    <TD>Increases building/upgrade speed
	(CWAL = can't wait any longer)</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>the gathering</TD>
    <TD>Infinite energy</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>noglues</TD>
    <TD>Computer can't use energy</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>game over man</TD>
    <TD>Instant loss</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>staying alive</TD>
    <TD>Lets you continue playing after you have finished the mission</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>show me the money</TD>
    <TD>Gives you 10,000 minerals and gas</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>there is no cow level</TD>
    <TD>Completes the mission you are on</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>whats mine is mine</TD>
    <TD>Gives you 500 minerals</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>breathe deep</TD>
    <TD>Gives you 500 vespene gas</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>something for nothing</TD>
    <TD>Everything available is upgraded</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>black sheep wall</TD>
    <TD>Reveals entire map</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>medieval man</TD>
    <TD>Gives free upgrades to units</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>modify the phase variance</TD>
    <TD>Ability to build anything</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>war aint what it used to be</TD>
    <TD>Disables fog of war</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>food for thought</TD>
    <TD>Allows you to build more units than supply</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>ophelia</TD>
    <TD>Warp to any mission (type in, press enter, then mission number)</TD>
  </TR>
</TABLE>

{% include ../inc/incz.html %}
</BODY>
</HTML>
