<HTML>
<HEAD>
<TITLE>doba homepage :: Notes :: SWIFT</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/notes_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>SWIFT</H5>

<H3>Introduction</H3>
<P>SWIFT is an international bank network, designed for secure and 
reliable financial messaging. You can find a lot of information at 
<A HREF="http://www.swift.com/">SWIFT's Web Site</A>. I am working as a SWIFT
software and hardware administrator since 1997, and I would like to say what
SWIFT engineers are very smart, and SWIFT helpdesk is the best helpdesk I ever
meet in my life.<BR>
If you are living in ex-USSR, you may want to contact
<A HREF="http://www.swift.ru/">Alliance Factors</A> - commercial company from
Moscow, which provides basic helpdesk services in russian language. But I 
wouldn't really recomend you to do so. Those guys are hostile for unknown 
reason and they are not very qualified. But they are really hungry for your
Company's money ;-) So you'd better deal directly with people from SWIFT. They
are professional, kind and very friendly.
</P>

<H3>Contact information</H3>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
            <TD WIDTH="20%"><STRONG>Contact</STRONG></TD>
            <TD WIDTH="60%"><STRONG>Description</STRONG></TD>
            <TD WIDTH="20%"><STRONG>Phone/Fax</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD>Cristelle Dejean</TD>
            <TD>CSI (ex-USSR) coordinator in SWIFT Customer Order Services. 
		A very kind, understanding and helpful person.</TD>
            <TD>Tel.: +322 655 3568<BR>
                Fax: +322 655 3009</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD>Brigitte Moens</TD>
            <TD>SWIFT Board Secretary.</TD>
            <TD>Tel.: +322 655 4261</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD>Elie Lasker</TD>
            <TD>Second CIS coordinator. Knows russian very well. But I 
                prefer to discuss with Chritelle Dejean.</TD>
            <TD>Tel.: +322 655 4681<BR>
                Fax: +322 655 3752</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD>Hozee Kees</TD>        
            <TD>Head of SWIFT - SITA/Equant migration project.
            Contact him if your bank needs a permanent PDN (i.e. X.25 
            leased line) connection.</TD>
            <TD>Tel.: +322 655 3400<BR>
                Fax: +322 655 3752</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD>Legal department</TD>
            <TD></TD>
            <TD>Tel.: +322 655 4942</TD>
  </TR>

</TABLE>

{% include ../inc/incz.html %}
</BODY>
</HTML>
