<HTML>
<HEAD>
<TITLE>doba homepage :: Projects :: CRUX</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>CRUX - Tetris-like TurboVision game</H5>
<P>Initially This game was written as a part of SWIFT Message Preparation
system, developed during my work in JSC "Victoriabank". Recently I've found
on a backup tape zip with source code of this system. I decided to rip the
game source off the source tree.
</P>
<P>You may download CRUX version 1.0 <A HREF="../download/index.html#crux">here</A>.</P>
{% include ../inc/incz.html %}
</BODY>
</HTML>
