<HTML>
<HEAD>
<TITLE>doba homepage :: Projects :: Daniela</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>Daniela (hand drawing)</H5>
<P>I painted this picture in Summer 1987. The girl from the drawing is my
cousin Daniela. She lives in USA nowdays and I didn't seen her for ages...</P>
<DIV ALIGN="center">
<IMG SRC="../download/daniela.gif" WIDTH="630" HEIGHT="868" BORDER="0">
</DIV>

{% include ../inc/incz.html %}
</BODY>
</HTML>
