<HTML>
<HEAD>
<TITLE>doba homepage :: Projects :: The Deadman</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>The Deadman - my first picture made in Deluxe Paint II</H5>
<P>This picture was made in 1995 with legendary paint software for DOS 
from Electronic Arts - <A HREF="../download/index.html#dp2">Deluxe Paint II</A>.
Grab it for your desktop while you can ;-)))</P>
<DIV ALIGN="center">
<IMG SRC="../download/deadman.gif" WIDTH="640" HEIGHT="400" BORDER="0">
</DIV>

{% include ../inc/incz.html %}
</BODY>
</HTML>
