<HTML>
<HEAD>
<TITLE>doba homepage :: Projects :: doba homepage</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
        <H5>doba homepage</H5>
        <P>You are browsing it right now ;-) After I decided what my CV should 
          be available online, I've got a good reason to build personal homepage. 
          I am glad about my decision! It is real fun to build your web 
          page. It is so interesting, what I am writing this text at 4:31am, 2000/05/28. 
          I'm working on the page since 17:00pm, 2000/05/27 with short 
          "technical" interruptions ;-) Probably I am so restless because of 
          good Jim Morrison's music.</P>
        <P>Design concepts used during building:</P>
        <UL>
          <LI>lightweighted html and graphics for small download times;</LI>
          <LI>MetaCreations-like visual style: variety of colors, Verdana font 
            and table-based alignment;</LI>
          <LI>two levels of hierarcy, clean and short URLs (as it is recomended 
            by <A HREF="http://www.design.ru/">Artem Lebedev</A>)</LI>
        <LI>no sounds at all: no wav, no rm, no mid, no mod, not even au ;-)</LI>
        </UL>

        <P>May be some day I will get rich and buy a brand new "doba.org" domain 
          for this homepage. As of 2000/05/28 It is still not reserved...</P>
{% include ../inc/incz.html %}
</BODY>
</HTML>
