<HTML>
<HEAD>
<TITLE>doba homepage :: Projects :: HYCON</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>HYCON - hypergraph conversion program</H5>
<P>HYCON is a program to create and manipulate with hypergraph images. 
  This program was written in May, 1997, as a practical realization of 
  an algorithm I developed for hypergraph drawing. A lot of information 
  about is can be found in <A HREF="hycon_nfo.html" TARGET="_blank">information
  file</A>. I was a last year student in the State University of 
  Moldova, and this algorithm and HYCON program formed my diploma work.</P>
<P> Program is written in C++ for DOS using <A HREF="http://www.delorie.com/djgpp/" TARGET="_blank">DJGPP</A> 
  2.01 (gcc 2.7.2.1) development suite. It uses an excelent <A HREF="http://www.talula.demon.co.uk/allegro/" TARGET="_blank">Allegro</A> 
  2.10 programming library for graphics, GUI and file i/o. It also uses 
  very nice and easy to use <A HREF="http://www.idsoftware.com" TARGET="_blank">id 
  software</A> installer (the one which was used for DOOM and DOOM2 installation).
  All graphics used by this program was develped with <A HREF="../download/index.html#dp2">Deluxe Paint IIe</A>.
</P>
<P>HYCON version 1.1 installation is available for download
  <A HREF="../download/index.html#hycon">here</A>.</P>
        <P>This installarion includes binaries for DOS/DPMI, soruce code, hypergraph 
          examples and diploma work in MS Word 95 document format.</P>
        <P>N.B.: Back in 1997 my e-mail address was oboroc@cinf.usm.md. This is 
          not valid anymore.</P>
{% include ../inc/incz.html %}
</BODY>
</HTML>
