<HTML>
<HEAD>
<TITLE>doba homepage :: Projects</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
    <TD WIDTH="18%"><STRONG>Name</STRONG></TD>
    <TD WIDTH="14%"><STRONG>Type</STRONG></TD>
    <TD WIDTH="38%"><STRONG>Description</STRONG></TD>
    <TD WIDTH="15%"><STRONG>Started</STRONG></TD>
    <TD WIDTH="15%"><STRONG>Last updated</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A HREF="dobahome.html">doba homepage</A></TD>
    <TD>Web site</TD>
    <TD>My personal homepage</TD>
    <TD>2000/05/20</TD>
    <TD>2000/05/28</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A HREF="vicbmd.html">www.victoriabank.md</A></TD>
    <TD>Web site</TD>
    <TD>Joint-Stock Commercial Victoriabank Web Site</TD>
    <TD>1999/03/23</TD>
    <TD>1999/04/05</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A HREF="crux.html">CRUX</A></TD>
    <TD>Program</TD>
    <TD>Tetris-like TurboVision game with source code</TD>
    <TD>1997/10/31</TD>
    <TD>2000/06/20</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A HREF="hycon.html">HYCON</A></TD>
    <TD>Program</TD>
    <TD>Hypergraph conversion program</TD>
    <TD>1997/05/05</TD>
    <TD>1997/05/12</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A HREF="msxpic.html">MSXPIC</A></TD>
    <TD>Program</TD>
    <TD>MSX-2 SCREEN 8 picture viewer</TD>
    <TD>1994/??/??</TD>
    <TD>1996/05/12</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A HREF="rc.html">RC</A></TD>
    <TD>Program</TD>
    <TD>Text file translation utility</TD>
    <TD>1995/01/??</TD>
    <TD>1995/02/03</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A HREF="deadman.html">The Deadman</A></TD>
    <TD>Art</TD>
    <TD>My first experience with <A HREF="../download/index.html#dp2">Deluxe Paint II</A> graphics editor</TD>
    <TD>1995/??/??</TD>
    <TD>1995/??/??</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A HREF="daniela.html">Daniela</A></TD>
    <TD>Art</TD>
    <TD>Once upon a time I was able to draw a human ;-)</TD>
    <TD>1987/??/??</TD>
    <TD>1987/??/??</TD>
  </TR>
</TABLE>
{% include ../inc/incz.html %}
</BODY>
</HTML>
