<HTML>
<HEAD>
<TITLE>doba homepage :: Projects :: MSXPIC</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>MSXPIC - MSX-2 SCREEN 8 picture viewer</H5>
        <P>This program was written in X86 assembler in 1994. It is written using 
          Borland Turbo Assembler 3.0. This way I learned X86 assembly and &quot;extremal&quot; 
          optimization (excessive byte hunting, when reduction of program's binary 
          size was a primary goal). In version 1.0 binary file was about 1.5Kb, 
          while the last version 1.6d it was ~640 byte big. This was done by reverce 
          engining algorithm for construction of MSX-2 SCREEN 8 fixed 256-color 
          palette. Unfortunatly I didn't kept the latest version, only version 1.6c 
          is available (679 bytes long binary).</P>
        <P>You may download MSXPIC version 1.6c <A HREF="../download/index.html#msxpic">here</A>.</P>
        <P>I wrote it mostly because my best friend Andrei Veltchev wrote a short 
          time before that a very nice pcx picture viewer. It was a challenge 
          for me to do something similar, because both me and Andrei enjoyed VGA 
          registers hacking quite a lot. VGA was something very new and exciting 
          for us. We just got the access to a very nice and powerful for that 
          time and country computers: IBM PS/2 Model 50 with Intel 80286 CPU at 
          10MHz, 20Mb HDD, 2Mb RAM, VGA videocard and 14&quot; monochrome display. 
          Later on, in 1995, I got access to an even better PC - it was branded 
          &quot;Future PC&quot; and had an Intel 80386 SX at 16MHz, 4Mb RAM, 120 
          Mb Seagate HDD with proprietary IDE controller card and 14&quot; color 
          display! It was supercool, and I enjoyed such a superpower at my hands 
          with a very great pleasure ;-)</P>
        <P>N.B.: Back in 1996 my handle was AsH, my unofficial trademark was Lightworks 
        and my e-mail address was oboroc@cinf.usm.md ;-) All those are ofcouse 
        not valid anymore.</P>
{% include ../inc/incz.html %}
</BODY>
</HTML>
