<HTML>
<HEAD>
<TITLE>doba homepage :: Projects :: RC</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>RC - text file translation utility</H5>
<P>This program was written in Borland Pascal in 1995. At this time I was 
obsessed by idea to write a MSX emulator. This utility was used to 
translate tonns of technical documentation from Yamaha MSX-2 russian 
codetable (custom variation of KOI8-R with double character encoded 
pseudographic symbols). After a while it showed itself useful also for
text translation from early (Florin Ciuperca) to mature (TISH SRL) 
Romanian DOS code page.</P>

<P>I even launched a very simple MSX-1 game Alibaba on a work-in-progress 
version of this emu. But after a while I've found on Internet CJB-MSX1 v0.99
emulator, which was much better when what I had, so I dropped MSX emulation
project.</P>

<P>You may download RC version 1.3 <A HREF="../downlad/index.html#rc">here</A>.</P>

N.B.: Back in 1995 my handle was Lord Bassarabian, my unofficial trademark was 
Avatars (inspired by excelent Ultima Undegraund / Ultima Undegraund II
3D-world RPG games, published in 1992 by Origin). My e-mail address was 
ash@luna.usm.md ;-) All those are ofcouse not valid anymore.
{% include ../inc/incz.html %}
</BODY>
</HTML>
