<HTML>
<HEAD>
<TITLE>doba homepage :: Projects :: www.victoriabank.md</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/projects_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<H5>Victoriabank Web Site</H5><BR>
<P>Victoriabank Web Site is accessible via
<A HREF="http://www.victoriabank.md/">http://www.victoriabank.md</A> URL.
For this page I developed html layout and wrote two big html files:
Annual Report for Years 1997 and 1998. Lots of things are kept as they 
was designed initially, and lots of things have been changed. The site is 
now JavaScript-powered. And it supports three different languages 
(English/Romanian/Russian) instead of English-only. Initial version, developed
by me is available in zip file <A HREF="../download/vicbmd.zip">here</A>.</P>

<P>I worked in JSC Victoriabank from the Summer, 1997, until January, 2000.
At the begining of 1999 my manager, very kind and understanding man, asked 
me to build Bank's Web Site project. Since I was almost a zero both in HTML
layout and graphics design, I applied to a professional graphics designer 
for site logos and purchased a very good "Web Master in a Nutshell" book by 
O'Reilly and Associates (1996, ISBN 1-56592-229-8). Graphics designer 
re-engined form paper-print Victoriabank's logotype into vectorial form
and proposed several web-site design concepts. I chosed fourth or fifth and 
started to work out the web site.</P>
{% include ../inc/incz.html %}
</BODY>
</HTML>
