<HTML>
<HEAD>
<TITLE>doba homepage :: Downloads</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/download_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
    <TD WIDTH="85%"><STRONG>Name</STRONG></TD>
    <TD WIDTH="15%"><STRONG>Date</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A NAME="crux" HREF="crux10.zip">CRUX version 1.0</A></TD>
    <TD>1997/10/31</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A NAME="hycon" HREF="hycon11.zip">HYCON version 1.1</A></TD>
    <TD>1997/05/12</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A NAME="msxpic" HREF="msxp16c.zip">MSXPIC version 1.6c</A></TD>
    <TD>1996/05/12</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A NAME="rc" HREF="rc13.zip">RC version 1.3</A></TD>
    <TD>1995/02/03</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD><A NAME="dp2e" HREF="dp2e30.zip">Deluxe Paint II Enhanced Version 3.0 &copy; 1994 Electronic Arts</A></TD>
    <TD>1994/??/??</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD><A NAME="dp" HREF="dp2v12.zip">Deluxe Paint II Version 1.2 &copy; 1988 Electronic Arts</A></TD>
    <TD>1988/??/??</TD>
  </TR>
</TABLE>
{% include ../inc/incz.html %}
</BODY>
</HTML>
