<HTML>
<HEAD>
<TITLE>doba homepage :: About</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/about_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}

<H5>About myself</H5>
<P>I love computers.
Here is my <A HREF="char.jpg">characteristics</A> from the high school
(russian). And here are some extra details:
</P>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
    <TD WIDTH="15%"><STRONG>Parameter</STRONG></TD>
    <TD WIDTH="40%"><STRONG>Value</STRONG></TD>
    <TD WIDTH="45%"><STRONG>Comment</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>Name</TD>
    <TD>Adrian Oboroc</TD>
    <TD>Also known as doba</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>Age</TD>
    <TD>24 years</A></TD>
    <TD>Wow! It's almost a quarter of century!</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>Ocupation</TD>
    <TD>UNIX system administration, coding, sometimes design</TD>
    <TD></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>Location</TD>
    <TD>City of Chisinau, Republic of Moldova (Easten Europe, ex-USSR)</TD>
    <TD></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>Marital status</TD>
    <TD>Single</TD>
    <TD>To be fixed someday ;-)</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>Height</TD>
    <TD>193cm</TD>
    <TD>Can someone help me translate centimeters to american feet?</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>Weight</TD>
    <TD>95kg</TD>
    <TD>Can someone help me translate kilogrames to american lbs?</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>Spoken languages</TD>
    <TD>Romanian, Russian, English</TD>
    <TD>My dream is to learn Japaneese someday...</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>personal homepage</TD>
    <TD><A HREF="http://doba.i.am">http://doba.i.am</A></TD>
    <TD>This is a redirector to my current homepage location</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>prefered e-mail</TD>
    <TD><A HREF="mailto:doba@i.am">doba@i.am</A></TD>
    <TD>This is a redirector to my current e-mail box</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>web based e-mail</TD>
    <TD><A HREF="mailto:aoboroc@hotmail.com">aoboroc@hotmail.com</A></TD>
    <TD>Use this if doba@i.am does not works for you</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
    <TD>ICQ UIN</TD>
    <TD>30291145</TD>
    <TD><img src="http://online.mirabilis.com/scripts/online.dll?icq=30291145&img=1" border="0" alt="" align="absmiddle"></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
    <TD>FidoNet</TD>
    <TD>2:469/150.100</TD>
    <TD>Don't know what Fido is? Find out <A HREF="https://web.archive.org/web/20010202032300/http://www.fido.md/">now</A>!</TD>
  </TR>
</TABLE>
{% include ../inc/incz.html %}
</BODY>
</HTML>
