<HTML>
<HEAD>
<TITLE>doba homepage :: MSX</TITLE>
<META CONTENT="text/html; charset=iso-8859-1" HTTP-EQUIV=Content-Type>
<SCRIPT LANGUAGE=JavaScript SRC="../inc/header.js"></SCRIPT>
<LINK REL="stylesheet" HREF="../styles/main_win.css" MEDIA="screen">
</HEAD>

<BODY ALINK=#ff0000 BGCOLOR=#ffffff LINK=#000066 TEXT=#000000 VLINK=#000066 
BACKGROUND="../img/watermark_bg.gif">
{% include ../inc/header.html %}
{% include ../inc/inca.html %}
<IMG SRC="../img/msx_big.gif" WIDTH="300" HEIGHT="50" BORDER="0">
{% include ../inc/incb.html %}

<H5>Introduction</H5>

        <P>MSX stands for <STRONG>M</STRONG>icro<STRONG>S</STRONG>oft e<STRONG>X</STRONG>tented 
          architecture. MSX and MSX-2 computers was built around 8-bit 3.5MHz 
          Zilog Z-80 CPU and special graphics and sound co-processors. MSX standard 
          (later known as MSX-1) was introduced in 1982 by Microsoft and ASCII 
          Corporation of Japan. MSX developers had a very ambicious plans: to 
          make MSX a world standard for home computers, like VHS for home video 
          is. And this plan was partially realized: MSX became probably the most 
          popular school and home computer in Brazil, Japan, USSR and many other 
          countries for many years (from 1984 until 1989). Computers, compatible 
          with MSX and MSX-2 specs, was produced by almost all major Japanese, 
          Korejan and even by some european brands (Sony, Phillips, Panasonic, 
          Yamaha, Toshiba, Daewoo to name a few). The next generation MSX-2 standard 
          was introduced in 1985, and it was incredibly innovative for that time: 
          16/256 color videomodes, big and full-color hardware accelerated sprites, 
          Yamaha OPL synthesizer, 720Kb 1.44&quot; floppy disk drive... Starting 
          with 1988 MSX became a little bit outdated, because new cheap and powerful 
          16-bit computers filled the market: Amigas, AtariTT/ST, ACORN Archimedes, 
          SHARP X68000 and, ofcouse, IBM PCs and PS/2. But in 1990 ASCII tried 
          to get customers attention back by releasing MSX-2+ specs, which had 
          several big benefits in comparition to MSX-2. The last MSX standard 
          was MSX-TurboR. Those computers had many significant changes in hardware, 
          Z-80 was used mainly for compatibility with old software, while native 
          programs used R800 RISC CPU. Both MSX-2+ and MSX-TurboR machines had 
          built-in Kanji support and was distributed only in Japan and Koreja. 
          You can find more information about this great platform in <A HREF="http://www.faq.msxnet.org/" TARGET="_blank">The 
          Ultimate MSX FAQ</A>.</P>
        <P>In September 1990 I saw MSX computer for the first time. It was Yamaha 
          MSX-2 KUVT. I wrote on this computer my first program in Turbo Pascal 
          3.0 for CP/M-80. And I played on it my first computer games. My most 
          favorite game of all times is still Konami's Metal Gear. But Vampire 
          Killer, ZanacEx and Konami's Knightmare are also extremly nice games.</P>
        <H5>MSX emulation</H5>
        <P>Today it is very difficult to find a working MSX machine. But, thanks 
          to hard work of emulators authors, we can run MSX applications and games 
          on PC. The best MSX emulators in my opinion are fMSX and RuMSX. There 
          are several other good emulators, but I prefer to use fMSX and RuMSX.</P>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
            <TD WIDTH="14%"><STRONG>Emulator</STRONG></TD>
            <TD WIDTH="8%"><STRONG>Version</STRONG></TD>
            <TD WIDTH="22%"><STRONG>Author</STRONG></TD>
            <TD WIDTH="12%"><STRONG>OS</STRONG></TD>
            <TD WIDTH="32%"><STRONG>MSX models</STRONG></TD>
            <TD WIDTH="12%"><STRONG>Updated</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="http://members.eunet.at/lexlechz/RuMSX.html" TARGET="_blank">RuMSX</A></TD>
            <TD>0.21</TD>
            <TD>Rudolf Lechleitner</TD>
            <TD>Win32</TD>
            <TD>MSX, MSX-2, MSX-2+ and MSX-TurboR</TD>
            <TD>2000/06/26</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD><A HREF="http://www.komkon.org/%7Edekogel/fmsx.html" TARGET="_blank">fMSX-DOS</A></TD>
            <TD>1.6b2.a</TD>
            <TD>Marat&nbsp;Fayzullin, Marcel&nbsp;de&nbsp;Kogel</TD>
            <TD>DOS</TD>
            <TD>MSX, MSX-2 and MSX-2+</TD>
            <TD>1997/09/05</TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="http://www.komkon.org/fms/fMSX/" TARGET="_blank">fMSX 
              UNIX/X</A></TD>
            <TD>2.1</TD>
            <TD>Marat&nbsp;Fayzullin</TD>
            <TD>UNIX</TD>
            <TD>MSX, MSX-2 and MSX-2+</TD>
            <TD>1999/09/08</TD>
  </TR>
</TABLE>
<H5>MSX resources on the net</H5>
        <P>The best place to start digging for MSX files, rom images, emulators 
          and documentation is <A HREF="http://www.file-hunter.com/" TARGET="_blank">File 
          Hunter</A> website. But other sites are also very interesting.</P>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="2" CELLPADDING="2">
  <TR ALIGN="left" BGCOLOR="AAAAAA"> 
            <TD WIDTH="50%"><STRONG>Site</STRONG></TD>
            <TD WIDTH="50%"><STRONG>Link</STRONG></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="http://file-hunter.com/" TARGET="_blank">File Hunter</A></TD>
            <TD><A HREF="http://file-hunter.com/" TARGET="_blank">http://file-hunter.com/</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD><A HREF="http://www.dcc.unicamp.br/~adrcunha/uzix/" TARGET="_blank">UZIX - UNIX for MSX</A></TD>
            <TD><A HREF="http://www.dcc.unicamp.br/~adrcunha/uzix/" TARGET="_blank">http://www.dcc.unicamp.br/~adrcunha/uzix/</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="http://www-koi8.yspu.yar.ru/MSX/" TARGET="_blank">MSX forever (russian)</A></TD>
            <TD><A HREF="http://www-koi8.yspu.yar.ru/MSX/" TARGET="_blank">http://www-koi8.yspu.yar.ru/MSX/</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD><A HREF="http://www.chez.com/msxgames/" TARGET="_blank">Le Retour du MSX (francais)</A></TD>
            <TD><A HREF="http://www.chez.com/msxgames/" TARGET="_blank">http://www.chez.com/msxgames/</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="http://www.orc.ru/~alik_a/msx.html" TARGET="_blank">Alik's MSX resources (russian)</A></TD>
            <TD><A HREF="http://www.orc.ru/~alik_a/msx.html" TARGET="_blank">http://www.orc.ru/~alik_a/msx.html</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD><A HREF="http://novatec-msx.da.ru/" TARGET="_blank">Nick Chudin archive</A></TD>
            <TD><A HREF="http://novatec-msx.da.ru/" TARGET="_blank">http://novatec-msx.da.ru/</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="EEEEEE">
            <TD><A HREF="ftp://ftp.komkon.org/pub/EMUL8/MSX/" TARGET="_blank">MSX section of Komkon FTP archive</A></TD>
            <TD><A HREF="ftp://ftp.komkon.org/pub/EMUL8/MSX/" TARGET="_blank">ftp://ftp.komkon.org/pub/EMUL8/MSX/</A></TD>
  </TR>
  <TR ALIGN="left" BGCOLOR="CCCCCC">
            <TD><A HREF="ftp://nic.funet.fi/pub/msx/" TARGET="_blank">MSX section of FTP in Finland</A></TD>
            <TD><A HREF="ftp://nic.funet.fi/pub/msx/" TARGET="_blank">ftp://nic.funet.fi/pub/msx/</A></TD>
  </TR>
</TABLE>

{% include ../inc/incz.html %}
</BODY>
</HTML>
